<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ICESCREAMERSt</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/5.3.31/pdf.min.mjs"></script>
  <script src="/static/script.js" defer></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" href="/static/ice_cream.png" type="image/x-icon">
</head>

<body>

<!-- Header Container -->
<div class="header">
    <h1>ICESCREAMERSt</h1>
    <h3>The Most Future-Proof, Long-Range, & Inspiring Database</h3>
    <p>Discover, learn, & contribute acronyms</p>
</div>

<div id="defineButtonContainer" style="display: flex; flex-direction: horizontal; justify-content: right;">
    <button id="defineButton" style="margin-top: 10px; margin-right: 10px; margin-left: 10px;">Define New Acronym</button>
</div>

<!-- Define Container -->
<div id="defineContainer" class="main">
  <div class="tab-content active" id="manual-tab">
    <h2 style="text-align: center; margin-bottom: 20px;">Define New Acronym</h2>
    <h5 style="text-align: center; margin-bottom: 20px;">"*" indicates required field</h5>
    <div id="addAcronymForm">
        <div class="form-row">
            <div class="form-group">
                <label>Acronym *</label>
                <input type="text" id="defineAcronym" class="form-input" required placeholder="e.g. API">
            </div>
            <div class="form-group">
                <label>Term *</label>
                <input type="text" id="defineTerm" class="form-input" required placeholder="e.g. Application Programming Interface">
            </div>
            <div class="form-group">
                <label>Add Tag</label>
                <select id="defineTags" class="form-input"></select>
            </div>
        </div>
        <div class="form-row description-row">
            <div class="form-group" style="grid-column: 1 / -1;">
                <label>Tags</label>
                <div id="defineTagsContainer" style="border-radius: 5px; background-color: white;
                         min-height: 30px;
                         border: 2px solid lightgray">
                </div>
            </div>
        </div>
        <div class="form-row description-row">
            <div class="form-group" style="grid-column: 1 / -1;">
                <label>Definition *</label>
                <textarea id="defineDefinition" class="form-input" required placeholder="Provide a more in-depth, detailed definition of the term."></textarea>
            </div>
        </div>
        <div class="form-row description-row">
            <div class="form-group" style="grid-column: 1 / -1;">
                <div style="display: flex; flex-direction: horizontal">
                    <label>Misc</label>
                    <button class="miscbut" id="misc-add">(+)</button>
                    <button class="miscbut" id="misc-remove">(-)</button>
                </div>
                <div id="defineMiscContainer" style="border-radius: 5px; background-color: white;
                         min-height: 30px;
                         display: flex; flex-direction: column;
                         border: 2px solid lightgray">
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <button class="submit-btn" id="submitDefineTerm">Define Acronym</button>
        </div>
    </div>
  </div>
</div>

<!-- Search Container -->
<div id="searchContainer" class="main">
    <h2>Search For Acronyms</h2>
    <h5 style="text-align: center; margin-top: 0;">(see Settings ⚙ for search configuration)</h5>
    <div class="search-box">
        <input id="acronym" placeholder="Acronym">

        <div class="form-group">
            <label>Add Tag</label>
            <select id="searchTags" class="form-input"></select>
        </div>
        <div class="form-group">
            <label>Tags</label>
            <div id="searchTagsContainer" style="border-radius: 5px; background-color: white;
                             min-height: 30px;
                             border: 2px solid lightgray">
            </div>
        </div>
<!--        <input id="tags" placeholder="Tags">-->

        <button onclick="search()">Search</button>
    </div>
    <div id="results" class="results"></div>
</div>

<!-- Settings Container -->
<button id="settingsButton" onclick="toggleSettings()">⚙</button>
<div id="settingsPanel" class="settings hidden">
    <h2>Settings</h2>
    <div style="display: flex; flex-direction: horizontal; text-align: center;">
        <label style="text-align: center; margin-top: 20px; margin-right: 10px;">Manual Search</label>
        <label class="switch">
            <input type="checkbox" id="toggleAISearch" onchange="toggleAISearch(this)">
            <span class="slider"></span>
        </label>
        <label  style="text-align: center; margin-top: 20px; margin-left: 10px;">AI Search</label>
    </div>
    <div>
        <div class="grid">
            <div style="font-weight: bold" class="cell">Manual Search</div>
            <div style="font-weight: bold" class="cell">AI Search</div>
            <div class="cell">- Instantaneous Search Speed</div>
            <div class="cell">- Slightly Slower Search Load Speed</div>
            <div class="cell">- Rigid Prefix & Realtime Search (e.g. search "AW", matches "AWS" while typing)</div>
            <div class="cell">- Flexible, Context-Based Search (powered by LLM scanning)</div>
            <div class="cell">- Tags provide strict term filtering by tag</div>
            <div class="cell">- Tags provide general contextual information</div>
        </div>
    </div>
</div>

</body>
</html>