<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ICESCREAMERSt</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src=""
  <script src="/static/script.js" defer></script>
</head>

<body>
  <!-- Header Section -->
  <div class="header">
    <div class="container">
        <h1> Database</h1>
        <p>Discover, learn, and contribute acronym definitions</p>
    </div>
</div>
    <!--Tab Section-->
    <!--Manual Entry-->
    <!--PDF Entry-->
    <!--Search Bar-->
    <div class="main">
      <div class="search-box">
        <input id="acronym" placeholder="Term">
        <input id="context" placeholder="Context">
        <button onclick="search()">Search</button>
      </div>
    <!--All Results w Tabs-->
      <div id="results" class="results"></div>
    </div>
  </div>
</body>

</html>

